<%layout("/layout/boilerplate")%>
<div class="row" >
    <div class="alert alert-danger mt-5 col-6 offset-2" role="alert">
        A simple danger alert—check it out!
        <h3><%=message%></h3>
      </div>
</div>
